@import "tailwindcss";

@font-face {
  font-family: "HallymMjo-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymMjo-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DNFForgedBlade";
  font-style: normal;
  font-weight: 500;
  src: url("https://cdn.df.nexon.com/img/common/font/DNFForgedBlade-Medium.otf")
    format("opentype");
}

@theme {
  --font-hallym: "HallymMjo-Regular", sans-serif;
  --font-DNFBlade: "DNFForgedBlade", sans-serif;
}

@layer utilities {
  .font-hallym-700 {
    font-family: var(--font-hallym);
    font-weight: 700;
  }

  .font-DNFForgedBlade-500 {
    font-family: var(--font-DNFBlade);
    font-weight: 500;
  }
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes run-right {
  0% {
    transform: translateX(-50px);
  }
  90% {
    transform: translateX(calc(100vw - 50px));
  }
  100% {
    transform: translateX(calc(100vw - 50px));
  }
}
.animate-run-right {
  animation: run-right 5s linear infinite;
}

.animate-bounce-slow {
  animation: bounce 2s infinite;
}

.animate-pulse-delay-1 {
  animation: pulse 1.5s infinite;
}

.animate-pulse-delay-2 {
  animation: pulse 1.5s infinite 0.3s;
}

.animate-pulse-delay-3 {
  animation: pulse 1.5s infinite 0.6s;
}
